*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.raw{
	width:80%;
	margin:0 auto;
	padding:30px;
	text-align: center;
}

div.card{
	width:calc(100% / 3 - 60px);
	height:500px;
	margin-right:10px;
	position:relative;
	display: inline-block;
}

span.discounted-price{
	color:red;
}

span.price{
	text-decoration:line-through;
}

span.discount-amount{
	left:0;
	background-color: rgb(235, 0, 55);
}

span.sustainability{
   left:35px;
	background-color: rgb(0, 135, 90)
}

span.only-tag{
	left:0;
}

span.discount-amount, span.sustainability{
	color:white;
	padding:5px;
	font-size:10px;
	position:absolute;
	bottom:110px;
}

span:not(.brand, .price){
	font-weight: bold;
}


.card-img{
	width:100%;
}

.card-2ndimg{
	display:none;
}

.card-description{
	margin-top:5px;
	text-align: left;
}

.heart{
	background-color: white;
	font-size: 20px;
	padding:10px;
	z-index: 1;
	position:absolute;
	right:0;
	top:15px;
}

.card:hover .card-img{
	display:none;
}

.card:hover .card-2ndimg{
	display:inline-block;
	width:100%;
}
